*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #e8e8e8;
  }

  a:hover {
    color: #000000;
  }
  
  .main-header {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .main-header__title {
    margin-right: 1rem;
    color: #bc8731;
    font-family: 'Playfair Display SC', serif;
  }

  .main-header__title a {
    color:#bc8731
}

  .main-header__title a:hover {
    color:#e8e8e8;
}
  
  .main-header__title:hover {
    color: #e8e8e8;
    cursor: pointer;
  }
  
  .nav {
    display: flex;
    position: fixed;
    top: 3.5rem;
    width: 50%;
    z-index: -1000;
    background-color: rgba(128,129,130, .9);
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
  }
  
  .nav-list {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 5rem;
    color: #e8e8e8;
  }
  
  .home:hover {
    color: #000;
    cursor: pointer;
  }
  
  .posts:hover {
    color: #000;
    cursor: pointer;
  }
  
  .cats:hover {
    color: #000;
    cursor: pointer;
  }
  
  .auths:hover {
    color: #000;
    cursor: pointer;
  }
  
  .tags:hover {
    color: #000;
    cursor: pointer;
  }
  
  .new:hover {
    color: #000;
    cursor: pointer;
  }
  
  .toggle-nav:checked~nav {
    z-index: 1000;
  }
  
  .toggle-nav {
    display: none;
  }
  
  .main-header__logo {
    margin-left: 1rem;
  }
  
  .menu-button {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  .menu-button span,
  .menu-button span::before,
  .menu-button span::after {
    display: block;
    background: #e8e8e8;
    height: 4px;
    width: 1.5rem;
    border-radius: 100px;
    position: absolute;
  }
  
  .menu-button span::before,
  .menu-button span::after {
    content:'';
    position: absolute;
  }
  
  .menu-button span::before {
    bottom: 10px;
    width: 2.5rem;
    
  }
  
  .menu-button span::after {
    top: 10px;
    width: 2rem;
  }
  
  .menu-button span:hover {
    width: 2.5rem;
    cursor: pointer;
  }
  
  .menu-button span:hover::after {
    width: 2.5rem;
  }
  
  .footer {
    background-color: #e8e8e8;
    height:2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .far {
    margin-right: 1rem;
  }
  
  @media screen and (max-width: 600px) {
  }