<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>HELL YEAH MOTHER FUCKER</p>
    <form action="/allCat" method="POST">
        <ul>
            <p>Add Category</p>
            <li><input type="text" name="postCategory"></li>
            <li class=""> <button type="submit">Submit</button></li>
        </ul>

        <ul th:each="category : ${Categories}">
            <li><a th:href="@{|/allCat/${category.id}|}" th:text="${category.postCategory}"></a></li>
        </ul>

    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/allAuthTagCat.css">
    <title>VOX</title>
  </head>
<body>
  <main class="main">
    <header class="main-header"> 
      <label for="toggle-nav" class="menu-button"> 
        <span></span>
      </label><!-- close menu-button -->
      <h1 class="main-header__title"><a href="/allPost">VOX</a></h1>
    </header><!--close main-header -->
    <input type="checkbox" class="toggle-nav" id="toggle-nav">
       <nav class="nav">
        <ul class="nav-list">
            <li class="home"><a href="/">HOME</a></li>
            <li class="posts"><a href="/allPost">POSTS</a></li>
            <li class="cats"><a href="/allCat">CATEGORIES</a></li>
            <li class="auths"><a href="/allAuth">AUTHORS</a></li>
            <li class="tags"><a href="/allTag">TAGS</a></li>
            <li class="new"><a href="/newBlog">NEW POST</a></li>
        </ul>
      </nav>
    <section class="main-section__back">
      <p class="main-section__title">VO2MAX</p>
    </section>
    <section class="main-section">
      <div class="column-left"> 
        <div class="column-left__box">BOXLEFT</div>
      </div>
      
      <div class="column-middle">
        <div class="column-middle__box">BOXMIDDLE</div>
      </div>
      
      <div class="column-right"> 
        <div class="column-right__box">BOXRIGHT</div>
      </div>
    </section>
    <footer class="footer">
      <i class="far fa-copyright"></i> 
      <p>vo2max inc.</p>
    </footer>
  </main><!--close main -->
</body>
</html>