<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>THIS BETTER FUCKING WORK</p>
    <form action="/allTag" method="POST">
        <ul>
            <p>Add Tag</p>
            <li><input type="text" name="tagName"></li>
            <li class=""> <button type="submit">Submit</button></li>
        </ul>

        <ul th:each="tag : ${Tags}">
            <li th:text="${tag.tagName}"></li>
        </ul>

    </form>
</body>
</html>