<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>


<body>
    <header>
        <p>Logo</p>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/allPost">POSTS</a></li>
            <li><a href="/allCat">CATEGORIES</a></li>
            <li><a href="/allAuth">AUTHORS</a></li>
            <li><a href="/allTag">TAGS</a></li>
            <li><a href="/newBlog">NEW POST</a></li>
        </ul>
    </header>
    <h1>Welcome to VO2MAX</h1>
    <nav>
      <ul>
        <li><a href="/">soup sandwich</a></li>
      </ul>
    </nav> 

    
</body>
</html>