<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>THIS IS WHERE YOUR WILL PUT A NEW BLOG POST PUSSY ASS BITCH</p>
    <form action="/newBlog" method="POST">
    <ul>
        <p>Title</p>
        <li><input type="text" name="postTitle"></li>
        <p>Author</p>
        <li><input type="text" name="authorName"></li>
        <p>Tags</p>
        <li><input type="text" name="tagName"></li>
        <p>Category</p>
        <li><input type="text" name="postCategory"></li>
        <p>Body</p>
        <li><input type="text" name="body"></li>
        
        <li class=""> <button type="submit">Submit</button></li>

    </ul>
    </form>
</body>
</html>