<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <p>Specific Post Page</p> 

   <ul>
       <!--specific post details-->
        <li th:text="${SinglePost.postTitle}"></li>
        <li th:text="${SinglePost.body}"></li>
        <li th:text="${SinglePost.id}"></li>

        <!-- add tags, authors, categories-->
   
</ul>
</body>
</html>