<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <p>Specific Author Page</p> 

        <ul>
            <!--specific post details-->
             <li th:text="${SingleAuth.authorName}"></li>
             <P>This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool.</P>

     
             <!-- add tags, authors, categories-->
        
     </ul>
    
</body>
</html>