<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <p>Specific Category Page</p> 

        <ul>
             <li th:text="${SingleCat.postCategory}"></li>
             <P>This is a description of this is a Cat and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool.</P>
        </ul>
          
   
        <ul th:each="post : ${SingleCat.posts}">
            <li th:text="${post.postTitle}"></li>  
            <li th:text="${post.body}"></li>
            <p>date</p>
        </ul>
 

     
     
    
</body>
</html>