<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <p>Specific Category Page</p> 

        <ul>
            <!--specific post details-->
             <li th:text="${SingleCat.postCategory}"></li>
             <P>This is a description of this is a Cat and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool. This is a description of this tag and why it's cool.</P>
     
             <!-- <ul th:each= "post : ${singleCat.posts}">
                    <li>
                        <h3 class=""><a th:text = "${singleCat.postTitle}">Default</a></h3>
                    </li>
                    <li>
                        <h3><a id="" th:text = "${singleCat.body}">Default</a></h3>
                    </li> -->
             <!-- add tags, authors, categories-->
        
     </ul>
    
</body>
</html>