<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Specific Tag Page</p> 

        
        <!--viewing all posts that share same tag-->
        <ul th:each="post : ${SingleTag.posts}">
                <li th:text="${post.postTitle}"></li> 
                <li th:text="${post.body}"></li>
                <p>date</p>
        </ul>
</body>
</html>